<!-- ShoppingCartController - Index -->

@model IEnumerable<Ecommerce.Models.shoppingCart>

@{
    ViewBag.Title = "Index";
}

<h2>Shopping Cart</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.users.UserName)
        </dt>
        @foreach (var item in Model)
        {
        <dd>
            @Html.DisplayFor(model => item)
        </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Index", "Index") |
    @Html.ActionLink("Back to List", "Index")
</p>
