*
{
    font-family:Cambria;
    font-size:16px;
}
header
{
    background-color: aliceblue;
}
body 
{
    background-color: silver;
}
footer
{
    background-color:#f5f5f5;
}
#UpperLeft
{
    color: chocolate;
    float: left;
    width: 400px;
    height: 100px;
}
#NavBar
{
    font-size: 12px;
    float: left;
    width: 300px;
    height: 50px;
}
#UpperRight
{
    color: aqua;
    font-size: 15px;
    float: right;
    width: 450px;
    height: 100px;
}
h1
{
    font-size: 25px;
}
h2
{
    font-size: 20px;
}
h3
{
    font-size: 16px;
}
p
{
 
}
#ShoppingCart
{
    border:dotted;
    border-color:aqua;
    border-width:4px;
}
a
{
    color:blue;
}
a:hover
{
    color:black;
    font-style:italic;
}