<!-- HomeController - Index -->

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the Downtown Brown Ice Rink!</h2>

<p class="col-lg-4 col-md-6 col-sm-3">
    <b><u>Summary of site</u></b>
    <br />
    There is definitely a summary of the site right here!
</p>
<p class="col-lg-6 col-md-4 col-sm-3">
    <b><u>Upcoming Schedule</u></b>
    <br />
    There will be our upcoming schedule right here!
</p>
<p class="col-lg-2 col-md-2 col-sm-6">
    <b><u>Item Specials</u></b>
    <br />
    <a href="#">Check out our current specials right here!</a>
</p>