<!-- HomeController - Index -->

@{
    ViewBag.Title = "Index";
}

<h1 style="text-align: center;">Welcome to the Downtown Brown Ice Rink!</h1>
<br />

<!-- Who we are -->
<p class="col-lg-4 col-md-6 col-sm-3 bg-info" style="border: 1px dashed black;" >
    <b><u>Who we are</u></b>
    <br />
    Downtown Brown ice rink was established in 2017 and has already become one of the
    most popular rinks and shops in all of North America. We have multiple <b>hockey teams</b>
    from all divisions and age ranges, along with <b>figure skating, public skate, and 
    new this year is curling!</b>
</p>

<!-- Upcoming Schedule -->
<p class="col-lg-6 col-md-4 col-sm-3 bg-info" style="border: 1px dashed black;">
    <b><u>Upcoming Schedule</u></b>
    <br />
    <b>Week of @DateTime.Now.Month/@DateTime.Now.Day/@DateTime.Now.Year</b><br />
    <i>Public skate:</i><br />
    &nbsp;&nbsp;&nbsp;Monday to Friday -> 12pm-1:30pm <br />
    &nbsp;&nbsp;&nbsp;Saturday and Sunday -> 12pm-2pm and 6pm-8pm <br />
    <i>Learn to skate:</i><br />
    &nbsp;&nbsp;&nbsp;Saturday -> 2pm-4pm <br />
    &nbsp;&nbsp;&nbsp;Sunday -> 2pm-3:30pm <br />
    <i>High School Hockey:</i><br />
    &nbsp;&nbsp;&nbsp;Monday, Wednesday, Friday -> 6pm-9pm<br />
    &nbsp;&nbsp;&nbsp;Thursday and Saturday -> 5pm-9pm<br />
    <i>College Hockey:</i><br />
    &nbsp;&nbsp;&nbsp;Monday to Friday -> 2pm-6pm<br />
    &nbsp;&nbsp;&nbsp;Saturday and Sunday -> 9am-12pm<br />
    <i>Open Hockey:</i><br />
    &nbsp;&nbsp;&nbsp;Every Day -> 10pm-12am<br />
</p>
<!-- Item Specials -->
<div class="col-lg-2 col-md-2 col-sm-6 bg-info" style="border: 1px dashed black;">
    <b><u>Item Specials</u></b>
    <br />
        <b>Helmets</b><i> are 43% off for the next 5 days with the promo code: 'Liar'</i><br />
        <b>Skates</b><i> are 82% off with the purchase of 7 sticks!</i><br />
        <b>Pads</b><i> are marked up by 31% this week!</i><br />
</div>