@model StoreFront.Data.InventoryRepository

@foreach (var item in Model.prodList)
{
    <div class="form-group col-lg-3">
        <b>Product:</b>
        @Html.DisplayFor(model => item.ProductName) <br />
        <b>Price: $</b>
        @Html.DisplayFor(model => item.Price) <br />
        @{
            if (Session["UserName"] != null)
            {
                StoreFront.Data.users user = new StoreFront.Data.users();
                user = user.FindUser(Session["UserName"].ToString());
                int shopCartID = user.GetShoppingCartID(user);
                <input id="addToCart" type="button" value="Add To Cart" class="btn btn-info" onclick="ajaxAddToCart(@item.ProductID, @user.GetShoppingCartID(user))" />
            }
        }
    </div>
    <div class="form-group col-lg-3">
        <img src="~/ProductImages/@item.ImageFile" alt="Picture" width="200" height="200" /><br />
    </div>
}