<!-- SearchController - Index -->

@model Ecommerce.Models.SearchViewModel

<h2>Search for Products</h2>
<hr />

<div class="form-group">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.TextBox("searchItem", null)
        </div>
        <input type="submit" value="Search Products" />
    }
</div>

<p>
    @Html.ActionLink("Back to Home Page", "Index", "Home")
</p>