<!-- SearchController - Index -->

@model Ecommerce.Models.product

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Product Name: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            Price:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Image:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageFile)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Home", "Index", "Home")
</p>
