<!-- SearchController - Index -->

@model Ecommerce.Models.SearchViewModel

<h2>Search for Products</h2>
<hr />

<div class="form-group">
    <form method="post" id="myForm">
        <label for="searchBox">Search</label>
        <input type="search" class="form-control" id="searchBox" name="searchBox" placeholder="Helmet" />
        @Html.ActionLink("Search", "Search", "Search", new { @param1 = 2, @param2 = 5 }, new { @class = "btn btn-info" })
    </form>
</div>

<p>
    @Html.ActionLink("Back to Home Page", "Index", "Home")
</p>