<!-- UsersController - ConfirmRegister -->
@{
    ViewBag.Title = "Register Confirmation";
}

<h2>Register Confirmation</h2>

You have been successfully registered!
<p>
    @Html.ActionLink("Return to login page", "Index", new { }, new { @class = "btn btn-primary" })
</p>