<!-- UserController - Index -->
@{
    ViewBag.Title = "Users";

    if (Session["LogInValid"].ToString().Equals("True"))
    {
        <h2>Welcome to your user page, @Session["UserName"]</h2>
    }
    else
    {
    <p>
        @Html.ActionLink("Register", "Register", "Users", new { }, new { @class = "btn btn-default" }) <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i>or</i><br />
        &nbsp; @Html.ActionLink("Login", "Login", "Users", new { }, new { @class = "btn btn-primary" })
    </p>
    }
    /* If the session for the user exists then hide the register and login buttons
     * and instead present a screen that just says "[UserName]'s user page".
    */
}