@{
    ViewBag.Title = "Register Failed";
}

<h2>Unable to register!</h2>

<p>You were unable to register at this time.<hr /></p>

@Html.ActionLink("Return to Register page to try again!", "Register", new { }, new { @class="btn btn-info"})